{% extends 'layout.html.twig' %}

{% block content %}
{#if ($currentUser) {
    unset($_SESSION['user']);

	<script>document.location='logout.php';</script>

}#}

<h2>Déconnexion</h2>

<div class="alert alert-success">
    Vous êtes maintenant déconnectés.
</div>

{% endblock %}
