{% extends 'layout.html.twig' %}

{% block content %}
<h2>Bienvenue</h2>
<p>
    Bienvenue sur <em>Social Sondage</em>, ici, vous pourrez créer et participer
    à des sondages!
</p>

<h2>Comment ça marche?</h2>
<p>
    Premièrement, <a href="{{ path('inscription') }}">inscrivez-vous</a>, vous devez avoir un 
    compte pour participer. <a href="{{ path('nouveau_sondage') }}">Créez ensuite</a> votre sondage en ligne.
    Vous obtiendrez un lien, en allant dans la rubrique <a href="{{ path('sondages') }}">mes sondages</a>
    que vous pourrez partager pour que les autres puissent participer.
</p>
{% endblock %}
