{% extends 'layout.html.twig' %}

{% block content %}

<h2>Identification</h2>
{% if identification %}
    {% if identification.id == app.session.get('user')['id'] %}
            {#<script>document.location='login.php';</script>#}
    {% else %}
        {% if identification == "password" %}
            <div class="alert alert-danger">
                Mauvais mot de passe.
            </div>
        {% else %}
            <div class="alert alert-danger">
                L'utilisateur {{ identification }} n'existe pas.
            </div>
        {% endif %}
    {% endif %}
    {% if identification.id == app.session.get('user')['id'] %}
    <div class="alert alert-success">
        Vous êtes identifiés en tant que {{ app.session.get('user')['login'] }}
    </div>
    {% endif %}
{% else %}
<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="login">Identifiant</label>
        <div class="col-sm-10">
            <input required="required" class="form-control" type="text" id="login" name="login" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="password">Mot de passe</label>
        <div class="col-sm-10">
            <input required="required" class="form-control" type="password" id="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
