{% extends 'layout.html.twig' %}

{% block content %}
<h2>Inscription</h2>

{% if inscription == 1 %}
    <div class="alert alert-success">
        Félicitations! Vous êtes désormais inscrits.
    </div>
{% endif %}
{% if inscription != 0.1 %}
    <div class="alert alert-danger">
        L'utilisateur {{ inscription }} existe déjà.
    </div>
{% endif %}

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2" for="login">Identifiant</label>
        <div class="col-sm-10">
            <input required="required" class="form-control" type="text" id="login" name="login" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="password">Mot de passe</label>
        <div class="col-sm-10">
            <input required="required" class="form-control" type="password" id="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
        </div>
    </div>
</form>
{% endblock %}
