<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Social Sondage</title>
        <link rel="stylesheet" href="{{ app.request.basePath }}/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/style.css" />
        <link rel="icon" type="image/x-icon" href="{{ app.request.basePath }}/css/favicon.ico" />
    </head>
    <body>
<h1>
    <img src="{{ app.request.basePath }}/css/poll.png" />
        Social <span class="sondage">Sondage</span>
    </h1>
    <nav class="navbar navbar-default">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('home') }}">Accueil</a></li>
{% if app.session.get('user') %}
            <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
{% else %}
            <li><a href="{{ path('inscription') }}">Inscription</a></li>
            <li><a href="{{ path('identification') }}">Identification</a></li>
{% endif %}
{% if app.session.get('user') %}
            <li><a href="{{ path('nouveau_sondage') }}">Nouveau sondage</a></li>
{% endif %}
            <li><a href="{{ path('sondages') }}">Sondages</a></li>
          </ul>
        </div>
    </nav>        

    <div class="contents">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
