{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Sondage de {{ sondage.login }}</h2>

    <h2>{{ sondage.question }}</h2>
    <form method="post">
        <h3>
            <label>
                {% if app.session.get('user') and participate==false %}
                    <input type="radio" name="answer" value="1" />
                {% endif %}
                {{ sondage.answer1 }}
            </label>
            {% if participate==true %}
                {% set answers = 1 %}
                {% for ans in answer %}
                    {% if answers == 1 %}
                        {% set pct = '%.0f' | format(ans*100/nbAnswer.nb) %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pct }}%;">
                                {{ pct }}%
                            </div>
                        </div>
                    {% endif %}
                    {% set answers = answers + 1 %}
                {% endfor %}
            {% endif %}
        </h3>
        <h3>
            <label>
                {% if app.session.get('user') and participate==false %}
                    <input type="radio" name="answer" value="2" />
                {% endif %}
                {{ sondage.answer2 }}
            </label>
            {% if participate==true %}
                {% set answers = 1 %}
                {% for ans in answer %}
                    {% if answers == 2 %}
                        {% set pct = '%.0f' | format(ans*100/nbAnswer.nb) %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pct }}%;">
                                {{ pct }}%
                            </div>
                        </div>
                        {% set answers = 3 %}
                    {% endif %}
                    {% set answers = answers + 1 %}
                {% endfor %}
            {% endif %}
        </h3>
        {% if sondage.answer3 != "" %}
            <h3>
                <label>
                {% if app.session.get('user') and participate==false %}
                    <input type="radio" name="answer" value="3" />
                {% endif %}
                {{ sondage.answer3 }}
                </label>
            {% if participate==true %}
                {% set answers = 1 %}
                {% for ans in answer %}
                    {% if answers == 3 %}
                        {% set pct = '%.0f' | format(ans*100/nbAnswer.nb) %}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pct }}%;">
                                {{ pct }}%
                            </div>
                        </div>
                    {% endif %}
                {% set answers = answers + 1 %}
                {% endfor %}
            {% endif %}
            </h3>
        {% endif %}


        {% if app.session.get('user') %}
            {% if participate==false %}  
                <input class="btn btn-success pull-right" type="submit" value="Participer!" />
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                Vous devez être identifié pour participer!
            </div>
        {% endif %}
    </form>
{% endblock %}
