{% extends 'layout.html.twig' %}

{% block content %}

<h2>Sondages</h2>

<ul class="list-group">     
{% for question in questions %}
	<li class="list-group-item">
	    <strong>{{ question.question }}</strong>
	    <a href="{{ path('sondage', {id: question.id}) }}" class="btn btn-xs btn-success pull-right">
	        Voir &raquo;
	    </a>
	</li>
{% endfor %}
</ul>
{% endblock %}
